*{
  box-sizing: border-box;
}
header {
  background-color: rgb(7, 181, 235);
  width: 100vw;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0rem;
  padding: .5rem;
  width: clamp(250px, 30vw, 350px);

  height: clamp(250px, 33vh, 300px);
  
  
}

.game-board div {
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

#p0, #p3, #p6, #p1, #p4, #p7, #p2, #p5, #p8 {
  border-left: none;
  border-top: none;
  
}

#p2, #p5, #p8 {
  border-right: none;
}

#p6, #p7, #p8 {
  border-bottom: none;
}

.scores {
  display: flex;
  gap: 6.7rem;
  
}
.play-again {
  display: flex;
  gap: 2rem;;
}

.play-again button {
  border-radius: .6rem;
  padding: .4rem .7rem;
  background-color: aqua;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

#reset-score {
 background-color: orange;
}